@font-face{font-family:Roboto;font-weight:400;src:url(Roboto-Regular.ttf)}
body{
    font-family:'Roboto','Arial',sans-serif;
}
#messages div paper-button::shadow #ripple{
  color:#3344ee;
}
#messages div paper-button{
  background-color:#dddd33;
}