/*-------------------------------for individual sites---------------------------*/

#bread2{
    text-align:center;
    /*570, 770*/
    height:114px;
    width:154px;
    
}

#bread2 img{
    width:100%;
    height:100%;
}

