@font-face{font-family:Roboto;font-weight:400;src:url(Roboto-Regular.ttf)}
body{
    font-family:'Roboto','Arial',sans-serif;
    color:#000000;
}

#selection table tr td{
    padding:2px;
    border:1px solid #000000;
    
}

#selection table{
    margin-left:auto;
    margin-right:auto;
} 

paper-button {
  text-transform: none;
}