@font-face{font-family:Roboto;font-weight:400;src:url(Roboto-Regular.ttf)}
body{
    font-family:'Roboto','Arial',sans-serif;
    color:#000000;
    background-color:rgba(200,200,100,0.0);
    height:1000px;
    text-align:center;
}

#content{
    background-color:rgba(100,100,200,0.3);
    border:1px solid #005e01;
    height:100%;
    width:50%;
    margin:100px;
    
    
}
